/*body {


  background-image: url('../assets/coffee-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}*/
body { 
  background: url('../assets/coffee-banner.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}