/*body {


  background-image: url('../assets/coffee-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}*/
body { 
  background: url('../assets/coffee-banner.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#company-title {
  text-align: center;
  color: #5E2612;
  font-size: 60px;
  font-weight: 700;
}

#landing {
  text-align: center;
}

#landing h3 {
  color: #AEEEEE;
  font-size: 25px;
  font-weight: bold;
}